@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(main.css);
@import url(galeria.css);
@import url(newgaleria.css);
body {
    font-family: 'Open Sans', sans-serif;
    background: #333;
}

.custom-card,
.custom-card:hover {
    color: rgb(255, 255, 255);
}

header {
    width: 100%;
    height: 60px;
    background: lightblue;
    color: black;
    position: fixed;
    top: -10px;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 100%;
    margin: auto;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.contact {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.contact a {
    color: #333;
    text-decoration: none;
}

.fijar {
    margin-top: -135px;
}

.color {
    background-color: gainsboro;
}

body {
    padding: 2rem 0rem;
}

.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    margin-bottom: 0.3rem;
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
    font-size: 0.8rem;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

button:focus {
    outline: 0;
}

#final {
    background: lightblue;
    color: black;
    text-align: center;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}