{% extends "generic.html" %} 
{% block carousel %}
    <!-- CARRUSEL -->
    {% load static from staticfiles %}
    <section id="carrusel">
        <div class="container">
            <div class="col-12 mt-3">
                <main class="container">
                    <div class="row">
                        <div class="col">
                            <div class="carousel slide" id="principal-carousel" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#principal-carousel" data-slid-to="0" class="active"></li>
                                    <li data-target="#principal-carousel" data-slid-to="1"></li>
                                    <li data-target="#principal-carousel" data-slid-to="2"></li>
                                    <li data-target="#principal-carousel" data-slid-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'imagenes/slide1.png' %}" alt="" style="width:90%;" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'imagenes/slide2.png' %}" alt=" " style="width:90%; " class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'imagenes/slide3.png' %}" alt="" style="width:90%;" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item ">
                                        <img src="{% static 'imagenes/slide4.png' %}" alt=" " style="width:90%; " class="d-block w-100">
                                    </div>
                                </div>
                                <!-- Controles de Slide -->
                                <a href="#principal-carousel" class="carousel-control-prev" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a href="#principal-carousel" class="carousel-control-next" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- FIN CARRUSEL  -->
{% endblock %}

{% block content %}
<!-- GALERIA -->
<div class="row">
    <div class="col-12">
        <div class="py-4 border-bottom">
            <h1 class="text-center">Colegios Mas consultados</h1>
        </div>
    </div>
    {% block cards %}
 <div class="container">
        <div class="card-deck">
        {% if  object_list%}
            <!--{{ colegio.name}}-->
            {% for colegio in object_list %} 
            <div class="col-12 col-sm-6 col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{ colegio.ImageProfile }}" alt="{{colegio.Name}}">
                    <div class="card-body">
                        <h3 class="card-title">{{colegio.Name}}</h3>
                        <p class="card-subtitle text-muted mb-2">
                        {% comment %} <h1>{{colegio.Score}}</h1> {% endcomment %}
                            {% for i in view.loop_range%}
                                {% if i <= colegio.Score %}
                                    <i class="icon-star"></i>
                                {% else %}
                                    <i class="icon-star-empty"></i>    
                                {% endif %} 
                            {% endfor %}
                        </p>
                        <p class="card-text"><br>{{colegio.Review|truncatechars:200 }}
                        </p>

                        <button type="button" class="btn btn-primary card-link buttonDetalle" data-toggle="modal" data-target="#Modal{{colegio.Id}}">
                            Detalle
                        </button>
                    </div>
                </div>
            </div>
            <!--Fin {{ colegio.name}}-->
            {% endfor %}
        {% else %}
            <h1>No hay colegios registrados, favor crear algunos</h1>
        {% endif %}    
        </div>
        {% if  object_list%}
        {% for colegio in object_list %} 
        <!-- Ventana Emergente {{ colegio.name}}-->
            <div class="modal fade" id="Modal{{colegio.Id}}" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{colegio.Name}}</h4>
                            <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="card-img-top img-fluid" src="{{colegio.ImageMD}}" alt="">
                            <p><br></p>
                            <div>
                                <h4>Calificación</h4>
                                <p class="card-subtitle text-muted mb-2">
                                    {% for i in view.loop_range%}
                                        {% if i <= view.Score %}
                                            <i class="icon-star"></i>
                                        {% else %}
                                            <i class="icon-star-empty"></i>    
                                        {% endif %} 
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="container">
                                <div class="form-group row">
                                    <label for="contact" class="col-sm-2 col-form-label">Direccion</label>
                                    <div class="col-sm-10">
                                        <input id="contact" type="text" readonly class="form-control-plaintext" value="{{colegio.Address}}">
                                    </div>
                                    <label for="contact" class="col-sm-2 col-form-label">Comuna</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" value="{{colegio.State_Province.NameSP}}">
                                    </div>
                                    <label for="contact" class="col-sm-2 col-form-label">Telefono</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" value="{{colegio.Phone}}">
                                    </div>
                                    <label for="contact" class="col-sm-2 col-form-label">Tipo Establecimiento</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" value="{{colegio.Type.Description}}">
                                    </div>
                                </div>
                                <p>
                                "{{colegio.Review}}"
                                </p>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        <!--Fin Ventana Emergente {{ colegio.name}}-->
        {% endfor %}
        {% else %}
        <h1>No hay colegios registrados, favor crear algunos</h1>
        {% endif %}
                    <div class="pagination ">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary ">Anterior</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Siguiente</a>
                    {% endif %}
                </span>
            </div>
    </div>


    {% endblock %}
  </div>  
{% endblock %}