<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> COLEGIOSPARATODOS </title>
    <link rel="icon" href="imagenes/logo-100.png">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="script" href="JavaScript/main.js">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fontello.css">

</head>

<body class="color">
    <header>
        <!-- NAVBAR -->
        <div class="contenedor">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a href="index.html" class="navbar-brand icon-graduation-cap">ColegiosParaTodos <span class="sr-only">(Actual)</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu de Navegacion">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="galeria.html" class="nav-link">Galeria</a>
                            </li>
                            <li class="nav-item">
                                <a href="contacto.html" class="nav-link">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- FORMULARIO -->

    <div class="form-container">
        <form class="text-center border border-light p-5" action="#!">

            <p class="h4 mb-4">Contáctanos</p>

            <!-- Nombre -->
            <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nombre">

            <!-- Email -->
            <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- RUT -->
            <input class="browser-default custom-select mb-4" id="txtRut" type="text"
            onkeyup="modifyText()" placeholder="Ingrese Rut" required />

            <!-- Region -->
            <select class="browser-default custom-select mb-4" id="txtRegion" oninput="selectCity()">
            <option value="" disabled selected>Elige tu Region</option>
            </select>


            <!-- Comuna -->
            <select class="browser-default custom-select mb-4" id="txtCity">
            <option value="" disabled selected>Elige tu comuna</option>
            </select>

            <!-- Tema -->
            <label>Donde escuchaste de nosotros?</label>
            <select class="browser-default custom-select mb-4">
            <option value="" disabled selected>Elige una opcion</option>
            <option value="1" > Grupo de amigos</option>
            <option value="2"> En el trabajo</option>
            <option value="3"> Publicidad </option>
            </select>

            <!-- Mensaje -->
            <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Mensaje"></textarea>
            </div>

            <!-- Avisos -->
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="defaultContactFormNotice">
                <label class="custom-control-label" for="defaultContactFormNotice">Quiero recibir avisos de colegios</label>
            </div>

            <!-- Boton enviar -->
            <button class="btn btn-info btn-block" type="submit">Enviar</button>

        </form>
        <!-- FIN FORMULARIO -->

    </div>
    <!-- FOOTER -->
    <footer>
        <section id="final">
            <div class="contenedor">
                <p class="copy"> ColegiosParaTodos &copy; 2019 </p>
                <div class="contact">
                    <a tabindex="7" class="icon-phone-outline" href="tel:+56998307778"></a>
                    <a tabindex="8" class="icon-mail" href="mailto:info@Colegiosparatodos.cl"></a>
                </div>
            </div>
        </section>
    </footer>
    <!-- FIN FOOTER -->


    <!-- Seccion Script  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="js/comuna.js"></script>


</body>

</html>